*{margin: 0; padding: 0;}
		#peak{
			height: 40px;
			width: 100%;
			background: #272727;
		}
		.Left_upper_1,.Left_upper_2{
			width: 75px;
			height: 40px;
			background: #424242;
			float: left;
			/*display: inline-block;*/
			color: white;
			text-align: center;
			line-height: 40px;
			font-weight: bold;
		}
		.Left_upper_2{
			font-size: 12px;
			border-left: 1px solid #272727;	
			cursor: pointer;
		}
		.Right_upper_1,.Right_upper_2{
			width: 62px;
			height: 14px;
			/*background: #008B8B;*/
			float: right;
			font-size: 12px;
			color: white;
			line-height: 14px;	
			margin-top: 17px;
			margin-right: 20px;
		}
		.triangle{
			width: 0px;
			height: 0px;
			margin-top: 3px;
			border: 4px solid #00FFFF;
			border-color:transparent transparent transparent white;
			float: right;
		}
		.Right_upper_1 a,.Right_upper_2 a{
			text-decoration: none;
			color: white;
		}
		.details{
			font-size: 12px;
			float: right;
			color: #888888;
			margin-top: 16px;
			margin-right: 20px;
		}
		.discount{
			width: 245px;
			height: 12px;
			font-size: 12px;
			/*background: #008000;*/
			color: white;
			float: right;
			margin-top: 16px;
		}
		#navigation{
			width: 100%;
			height: 56px;
			background: white;
			border-top: 1px solid #C0C0C0;
			border-bottom: 1px solid #C0C0C0;
			position: sticky;
			top: 0px;
		}
		.logo{
			width: 200px;
			height: 56PX;
			/*background: red;*/
			float: left;
			font-size: 22px;
			text-align: center;
			line-height: 56px;
			font-weight: bold;
			font-family: "宋体";
			letter-spacing: -1px;
		}
		.mens,.woman,.Jeans,.sign{
			width: 50px;
			height: 56px;
			/*background: #008B8B;*/
			float: left;
		}
		.mens a,.woman a,.Jeans a,.sign a{
			color: #000000;
			text-decoration: none;
		}
		.mens a:hover,.woman a:hover,.Jeans a:hover,.sign a:hover{
			border-bottom: 1px solid black;padding-bottom: 2px;
			/*transition-duration: 0.3s;*/
		}
		.Jeans{
			width: 64px;
			height: 56px;
			/*background: #0000FF;*/
			float: left;
		}
		.sign{
			width: 62px;
			height: 56px;
			/*background: #00FFFF;*/
			float: left;
			font-weight: bold;
			line-height: 56px;
			text-align: center;
			font-size: 13px;
		}
		.mens,.woman,.Jeans{
			font-size: 14px;
			line-height: 56px;
			text-align: center;
		}
		.logo,.mens,.woman,.Jeans,.sign{
			margin-left: 10px;
			cursor: pointer;
		}
		.shopping_one,.shopping_tow,.shopping_Four{
			float: right;
			width: 50px;
			height: 35px;
			/*background: skyblue;*/
			margin-top: 20px;
			cursor: pointer;
		}
		.shopping_one img,.shopping_tow img,.shopping_Four img{
			width: 20px;
			height: 20px;
			text-align: center;
			/*border: 1px solid black;*/
		}
		.shopping_one img:hover,.shopping_tow img:hover,.shopping_Four img:hover{
			border: 1px solid black;
		}
		#pop{
			width: 200px;
			height: 101px;
			background: white;
			float: right;
			margin-right:40px ;
			display: none;
			cursor: pointer;
			/*position: relative;*/
			position: sticky;
			top: 58px;
			border: 1px solid #C9C9C9;
			margin-top: -1px;
			/*z-index: 2;*/
		}
		.pop_one,.pop_two{
			width: 160px;
			height: 50px;
			line-height: 50px;
			font-size: 13px;
			font-family: "黑体";
			margin: auto;
		}
		.pop_one:hover,.pop_two:hover{
			background: whitesmoke;
		}
		.pop_one{
			border-bottom: 1px solid #888888;
		}
		.pop_Three{
			float: right;
		}
		#Login{
			width: 240px;
			height: 204px;
			background: white;
			float: right;
			/*z-index: 99;*/
			font-size: 14px;
			display: none;
			position: sticky;
			top: 58px;
			border: 1px solid #C9C9C9;
			margin-top: -1px;
			z-index: 2;
		}
		.Login{
			width: 200px;
			height: 50px;
			line-height: 50px;
			margin: auto;
			border-bottom: 1px solid #888888;
			cursor: pointer;
		}
		.Login:hover{
			background: whitesmoke;
		}
		.Login_two{
			width: 20px;
			height: 20px;
			font-size: 12px;
			font-weight: bold;
			float: left;
			margin-right: 10px;
		}
		.Login_one,.Login_Three,.Login_Four{
			width: 20px;
			height: 20px;
			float: left;
			/*line-height: 50px;*/	
			margin-top: 5px;
			margin-right: 10px;
		}
		.Login img{
			width: 20px;
			height: 20px;
		}
		.loupe img{
			width: 28px;
			height: 28px;
		}
		.loupe{
			float: right;
			width: 50px;
			height: 35px;
			/*background: skyblue;*/
			margin-top: 20px;
			cursor: pointer;
			/*background-image:url(img/放大镜.png);*/
			/*background-size: 30px;*/
			/*z-index: 999;*/
			/*margin-left: -10px;*/
		}
		#fanda{
			float: right;
			margin-top: 22px;
			margin-right: 20px;
			/*z-index: 99;*/
		}
		#navigation input{
			  display: inline-block;	
			  position: absolute;
			  right: 166px;
			  top: 32px;
			  width: 0px;
			  display: none;
			  outline: none;
			  z-index: -1;
		}
		#navigation input{
			width: 150px;
			height: 25px;
			/*float: right;*/
			/*position: relative;*/
			margin-left: 780px;
			margin-top: -16px;
		}